<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hexinnovation.flashlight"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application android:allowBackup="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name=".MyApplication">
        <activity android:name=".MyActivity" android:label="@string/launcher_name" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:screenOrientation="sensorPortrait" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <receiver android:name=".FlashlightWidgetProvider">
            <intent-filter android:priority="100">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/flashlight_widget" />
        </receiver>
        <service android:name=".FlashlightService" />
    </application>
</manifest>
